<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jz.sdkdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!--    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />
    <uses-permission android:name="freemme.permission.msa" />


    <!-- 获取应用列表权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.GET_INSTALLED_APPS" />
    <uses-permission
    android:name="android.permission.QUERY_ALL_PACKAGES"
    tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- 在android7~12中外部读写需要以下权限： -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 在android13中读取图片需要以下权限： -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- 视频权限： -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- 音频权限： -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- 如果需要访问pdf,word等其他类型文件，请使用以下权限： -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

<!--    Android 11及更高版本中 30 -->
    <uses-permission android:name="android.permission.MANAGE_ALL_FILES_ACCESS_PERMISSION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />

<!--    对于Android 10，还有设置-->
<!--    android:requestLegacyExternalStorage="true"-->

    <application
        android:name="com.getappinfo.app.ToolsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity
            android:name="com.getappinfo.app.PermissionTestActivity"
            android:exported="true"
            android:label="@string/title_activity_permission_test" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name="com.getappinfo.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <meta-data-->
<!--            android:name="android.support.VERSION"-->
<!--            android:value="26.1.0" />-->
    </application>

</manifest>